{% extends 'base.html' %}
{% load static %}

{% block title %} Posts {% endblock %}

{% block content %}


    <h1 class="center-column">Posts!!</h1>
    {% for post in post_list %}
    <div class="post-card center-column">
        <div class="card-body">
            <a>
            <h5 class= "card-title">{{post.title}}</h5>
            </a>
            <h6 class="card-date">{{post.date}}</h6>
            <h5 class="card-mountain">{{post.mountain}}</h5>
            <p class="card-text">{{post.body|truncatechars:64}}</p>
            <a href="{% url 'details' post.id %}">
                <button type="button" class="button">Read More</button>
            </a>
        </div>
    </div>
    {% endfor %}

{% endblock %}