{% extends 'base.html' %}
{% load static %}

{% block title %} Posts {% endblock %}

{% block content %}


    <h1>posts</h1>
    {% for post in post_list %}
    <div class="card">
        <div class="card-body">
            <a>
            <h5  class= "card-title">{{post.title}}</h5>
            </a>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{post.date}}</h6>
            <p class="card-text">{{post.body|truncatechard:64}}</p>
        </div>
    </div>
    {% endfor %}

{% endblock %}