{% extends 'base.html' %}

{% block title %}Reset Password Sent{% endblock %}

{% block content %}
<div class="password-reset center-column">
    <div class="center-column">
        <h2 class="form-h2">Check Your Email</h2>
        <p>We've sent you instructions for setting your password. You should receive them shortly.</p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
        <button type="button">
            <a href="{% url 'login' %}">Return to Login</a>
        </button>
    </div>
</div>
{% endblock %} 