{% extends 'base.html' %}
{% load static %}

{% block title %} Shred Share Killington {% endblock %}

{% block content %}



<div class="mountain-info-page">
    <div class="info-page-header">
        <h5>Killington</h5>
    </div>

    <div class="mountain-page-img">
        <img src="/static/img/killington-logo.png" alt="missing img">
    </div>

    <div class="weather">
        <h2>this is where the weather will go</h2>
    </div>

    <div class="ski-report">
        <h2>this is where the ski report will go</h2>
    </div>

    <div class="mountain-post">
        <h2>this is where the mountain posts will go</h2>
    </div>

</div>









{% endblock %}