{% extends 'base.html' %}
{% load static %}

{% block title %} Shred Share Killington {% endblock %}

{% block content %}



<div class="mountain-info-page">
    <div class="info-page-header">
        <h1>Killington</h1>
    </div>


    <div class="mountain-page-img center-column">
        <div class="carousel">
            <img src="/static/img/Killington-logo.png" alt="Okemo logo" class="active">
            <img src="/static/img/killington2.jpg" alt="">
            <img src="/static/img/killington3.jpeg" alt="">
            <img src="/static/img/killington4.jpeg" alt="">
            <img src="/static/img/killington5.jpeg" alt="">
        </div>
    </div>

    {% block extra_js %}
    <script src="{% static 'js/carousel.js' %}"></script>
    {% endblock %}
    
    <div class="mountain-info">
        <h5 class="mountain-info-h5">Killington Mountain Resort & Ski Area is a ski resort in Rutland County, Vermont, United States, near the town of Killington. It is the largest ski area in the eastern U.S., and has the largest vertical drop in New England at 3,050 feet. The mountain has been nicknamed the "Beast of the East."</h5>
    </div>


    <div class="weather">
        
        {% if weather %}
        <div class="current-weather center-column">
            <h2>Okemo Mountain Current Weather</h2>
            <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Weather icon">
            <p>{{ weather.date1|date:"F d, Y" }}</p>
            <p>Temperature: {{ weather.temperature }}°F</p>
            <p>Conditions: {{ weather.description }}</p>
        </div>
        {% endif %}

    </div>

    <div class="forecast-container">

        {% if forecast %}
        <h2 class="forecast-h2">5-Day Forecast</h2>
        <div class="forecast center-row">
            {% for item in forecast %}
            <div class="forecast-item">
                <img src="http://openweathermap.org/img/w/{{ item.icon }}.png" alt="Forecast icon">
                <p>{{ item.date2|date:"F d, Y" }}</p>
                <p>{{ item.description }}</p>
                <p>Day Temp: {{ item.temp_day }}°F</p>
                <p>Night Temp: {{ item.temp_night }}°F</p>
                
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if weather_error %}
        <p>Sorry, we couldn't fetch the weather: {{ weather_error }}</p>
        {% endif %}


        <h6>Weather Forecast Provided by <a href="https://openweathermap.org/"  target="_blank"> openweathermap.org</a></h6>
    
    </div>



    <div class="ski-report">
        <h2>Killington Ski Report</h2>
        <div class="ski-report-info-container">
            <div class="ski-report-info">
                <h3>Snowfall Last 24h</h3>
                <p>4 in</p>
            </div>
            <div class="ski-report-info">
                <h3>Snowfall Next 24h</h3>
                <p>3 in</p>
            </div>
            <div class="ski-report-info">
                <h3>Base Depth</h3>
                <p>36 in</p>
            </div>
            <div class="ski-report-info">
                <h3>Open Trails</h3>
                <p>122 / 145</p>
            </div>
            <div class="ski-report-info">
                <h3>Open Lifts</h3>
                <p>14 / 20</p>
            </div>
        </div>
    </div>


    <div class="mountain-post">                

        <h1>Create a Post !</h1>
    
    
    
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'save_comment' %}">
                {% csrf_token %}
    
                <input name="mountain_id" type="hidden" value="{{mountain_id}}">
                <input name="mountain_name" type="hidden" value="{{mountain_name}}">
                {{form.as_p}} 
    
                <button type="submit">Save Post</button>
            </form>
            {% else %}
            <p class="logged-out-message">You must be logged in to create a post.</p>
            {% endif %}
    </div>
    
    
    
        <div class="mountain-post-list">
    
            <h1>Killington Shred Posts !</h1>
    
            {% if user.is_authenticated %}
                {% for post in posts %}
                    <div class="post-body">
                        <h6>{{post.title}}</h6>
                        <h3>Posted by: {{post.author}}</h3>
                        <h4>{{post.date}}</h4>
                        <p>{{post.body}}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p class="logged-out-message">You must be logged in to view posts.</p>
            {% endif %}
        </div>
                
            
        </div>
    </div>

{% endblock %}