{% extends 'base.html' %}
{% load static %}

{% block title %} Mountains {% endblock %}

{% block content %}

<div class="meetups">
    <div class="meetups-info">
        <h1>Shred Share Meetups</h1>
        <p>Shred Share is all about community. We love to get together and shred the slopes with friends and family. We have a meetup page for each mountain, where you can find information on upcoming meetups, events, and other activities. We also have a general meetup page, where you can find information on upcoming meetups, events, and other activities from all over New England.</p>
    </div>
    <div class="meetups-img-container">
        <div class="meetups-column center-column">
            <img src="/static/img/meetup1.jpg" alt="">
            <img src="/static/img/meetup3.jpg" alt="">
        </div>
        <div class="meetups-centerpiece">

            <h1>Upcoming meetups to check out!</h1>
            
            <div class="event">
                <h2>Okemo</h2>
                <h3><b>November 28th:</b> Season Kick Off Party! </h3>
                <p><b>10:00am | Join us at the Clock Tower</b><br />
                Giveaways, DJ, Local Vendors and Food Trucks ! </p>
            </div>

            <div class="event">
                <h2>Killington</h2>
                <h3><b>December 1st:</b> Slope Party! </h3>
                <p><b>9:30am | Meet at the Summit</b><br />
                Mass Ride to the Base !<br />
                Suprises await at the bottom!!</p>
            </div>

            <div class="event">
                <h2>Mount Snow</h2>
                <h3><b>December 5th:</b> Terrain Park Party! </h3>
                <p><b>11:00am | Meet at Carinthia Terrain Park</b><br />
                Come spectate or show off your skills!<br />
                Sponsor Giveaways, Cookout on the slopes and a DJ!</p>
            </div>

            <div class="event">
                <h2>Stowe</h2>
                <h3><b>December 12th: After Shred BBQ!</b> </h3>
                <p><b>4:00pm | Meet at Spruce Camp Base Lodge</b> <br />
                Local BBQ, Local Beer and Live Bands!<br />
                What Could Be Better!?!</p>
            </div>


        </div>
        <div class="meetups-column center-column">
            <img src="/static/img/meetup4.jpg" alt="">
            <img src="/static/img/meetup2.jpg" alt="">
        </div>
    </div>
</div>



{% endblock %}