{% extends 'base.html' %}
{% load static %}

{% block title %} Mountains {% endblock %}

{% block content %}

<div class="mountains">
    <div class="mountains-info">
        <h1>Explore New England Mountains</h1>
        <p>Welcome to the Mountains hub of Shred Share, your ultimate guide to New England's top ski resorts and winter sports destinations. Whether you're chasing fresh powder or planning your next meetup on the slopes, this page gives you access to all the mountain-specific pages. From Stowe to Okemo, each mountain has its own page filled with up-to-date conditions, weather reports, and user-contributed content. Check out photos, blogs, and discussions from fellow winter enthusiasts, and get ready to shred like never before!</p>
    </div>
    <div class="mountains-logo">
        <div class="mountains-img">
            <img src="/static/img/okemo-logo.png" alt="">
            <img src="/static/img/stowe-logo.png" alt="">
            <img src="/static/img/Killington-logo.png" alt="">
            <img src="/static/img/mtsnow-logo.png" alt="">
        </div>
    </div>
</div>



{% endblock %}