{% extends 'base.html' %}
{% load static %}

{% block title %} Shred Share Mt. Snow {% endblock %}

{% block content %}



<div class="mountain-info-page">
    <div class="info-page-header">
        <h1>Mount Snow</h1>
    </div>


    <div class="mountain-page-img center-column">
        <div class="carousel">
            <img src="/static/img/mtsnow-logo.png" alt="Okemo logo" class="active">
            <img src="/static/img/mtsnow2.jpg" alt="">
            <img src="/static/img/mtsnow3.jpg" alt="">
            <img src="/static/img/mtsnow4.jpg" alt="">
            <img src="/static/img/mtsnow5.jpg" alt="">
        </div>
    </div>

    {% block extra_js %}
    <script src="{% static 'js/carousel.js' %}"></script>
    {% endblock %}


    <div class="mountain-info">
        <h5 class="mountain-info-h5">Mount Snow is a mountain and ski resort in southern Vermont located in the Green Mountains. It is Vermont's southernmost big mountain, and therefore, closest to many Northeast metropolitan areas. Mount Snow is home to Carinthia Parks which includes ten terrain parks, with both natural and man-made features and a super-pipe.</h5>
    </div>


    <div class="weather">
        {% if weather %}
        <div class="current-weather center-column">
            <h2>Current Weather</h2>
            <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Weather icon">
            <p>Date: {{ weather.date1|date:"F d, Y" }}</p>
            <p>Temperature: {{ weather.temperature }}°F</p>
            <p>Conditions: {{ weather.description }}</p>
        </div>
        {% endif %}

        {% if forecast %}
        <h2 class="forecast-h2">5-Day Forecast</h2>
        <div class="forecast center-row">
            {% for item in forecast %}
            <div class="forecast-item">
                <img src="http://openweathermap.org/img/w/{{ item.icon }}.png" alt="Forecast icon">
                <p>{{ item.date2|date:"F d, Y" }}</p>
                <p>{{ item.description }}</p>
                <p>Day Temp: {{ item.temp_day }}°F</p>
                <p>Night Temp: {{ item.temp_night }}°F</p>
                
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if weather_error %}
        <p>Sorry, we couldn't fetch the weather: {{ weather_error }}</p>
        {% endif %}

        {% if weather_error %}
        <p>Sorry, we couldn't fetch the weather: {{ weather_error }}</p>
        {% endif %}
    </div>



    <div class="mountain-post">               

        <h1>Create a Post !</h1>
    
    
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'save_comment' %}">
                {% csrf_token %}
    
                <input name="mountain_id" type="hidden" value="{{mountain_id}}">
                <input name="mountain_name" type="hidden" value="{{mountain_name}}">
                {{form.as_p}} 
    
                <button type="submit">Save Post</button>
            </form>
            {% else %}
            <p>You must be logged in to create a post.</p>
            {% endif %}
    </div>
    
    
            <div class="mountain-post-list">
    
            <h1> Mount SnowShred Posts !</h1>
    
                
            {% if user.is_authenticated %}
                {% for post in posts %}
                    <div class="post-body">
                        <h6>{{post.title}}</h6>
                        <h3>Posted by: {{post.author}}</h3>
                        <h4>{{post.date}}</h4>
                        <p>{{post.body}}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p class="logged-out-message">You must be logged in to view posts.</p>
            {% endif %}
            </div>
                
                
            </div>
        </div>







</div>
{% endblock %}