:root {
    --primary-color: #D6E1EB;
    --primary-color-100: #b3d0ea;
    --primary-color-300: #95c0e9;

    --secondary-color: #ADC4D7;
    --secondary-color-600: #83b0d5;
    --secondary-color-900: #79aad1;

    --neutral-color: #eedad8;

    --background-color: #2f6398;
    --surface-color: #252525;
    
    --eater-font: "Eater"

}


html {
    font-size: 16px;
    background-color: var(--background-color);
}

body {
    background-color: unset !important;
}

h1 {
    color: var(--secondary-color-600);
    font-size: 1.5rem;
    text-transform: uppercase;
}

h2 {
    color: var(--primary-color);
    font-size: 1.8rem;
    letter-spacing: .06rem;
}

p {
    color: var(--neutral-color);
    line-height: 1.5rem;
    font-size: 1.1rem;
    text-align: center;
}


.center-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    background-color: var(--neutral-color);
    color: var(--surface-color);
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

